/* Tailwind base */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom styles */
:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
